<h1>"Hello"  this is from views/questions/ask.html.erb</h1>

<div id="ask-form">
  <form action="answer">
  <p>What is your question?</p>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
  </form>
</div>
