// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #f4f4f4;
  width: 600px;
  margin:auto;
}

h1 {
 color: green;
}

h2 {
  color: red;
}
